.main-section {
    border: 1px solid #000000;
    width: 100%;
}

.left-sidebar {
    background: linear-gradient(to right, #d6249f, #285AEB);
    padding: 0;
}

.searchbox {
    width: 100%;
    padding: 27px 10px;
    border-bottom: 2px solid #000;
}

.form-control,
.search-icon,
.search-icon:hover {
    /* background-color: #6A6C75; */
    border: 1px solid #fff;
    color: #fff;
    box-shadow: none !important;
}

.form-control:focus {
    border: 1px solid #fff;
}

.left-chat {
    overflow-y: scroll;
    height: 100vh;
}

.left-chat ul {
    padding: 0;
    list-style: none;
}

.left-chat ul li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.chat-left-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #000000;
    margin-right: 15px;
}

.chat-left-detail {
    display: flex;
    flex-direction: column;
}

.chat-left-detail a{
    color: #fff;
}

.chat-left-detail a:hover{
    color: #230b62;
}

.chat-left-detail p {
    margin: 0;
    color: #fff;
}

.chat-left-detail span {
    color: #000000;
    font-size: 12px;
}

.chat-left-detail span i {
    color: #86BB71;
    font-size: 10px;
}

.right-sidebar {
    border-left: 2px solid #000;
}

.right-header {
    background: linear-gradient(to right, #d6249f, #285AEB);
    margin: 0;
    padding: 0;
    height: 90px;
    background-color: #3A3A3A;
}

.right-header-img img {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
    border: 3px solid #61BC71;
    margin-right: 10px;
}

.right-header-detail {
    margin: 0;
    color: #fff;
    font-weight: bold;
    padding-top: 5px;
}

.right-header-detail span {
    color: #ffffff;
    font-size: 12px;
}

.right-header-detail button {
    float: right;
    margin-top: -20px;
    padding-bottom: 8px;
}

.rightside-left-chat,
.rightside-right-chat {
    float: left;
    width: 80%;
    position: relative;
}

.rightside-right-chat {
    float: right;
    margin-right: 35px;
}

.right-header-contentChat {
    overflow-y: scroll;
    background-color: #FFFFFF;
}

.right-header-contentChat ul li {
    position: relative;
    list-style: none;
    margin-top: 20px;
}

.right-header-contentChat .rightside-left-chat p,
.right-header-contentChat .rightside-right-chat p {
    background-color: #86BB71;
    padding: 15px;
    border-radius: 8px;
    color: #fff;
}

.right-header-contentChat .rightside-right-chat p {
    background-color: #94C2ED;
}

.right-chat-textbox {
    padding: 15px 30px;
    width: 100%;
    background: linear-gradient(to right, #d6249f, #285AEB);
}

.right-chat-textbox input {
    width: 80%;
    height: 40px;
    border: 2px solid #3d85ca;
    border-radius: 5px 0 0 5px;
    padding: 0 10px;
}

.right-chat-textbox button {
    background-color: #3d85ca;
    height: 40px;
    width: 70px;
    margin-left: 20px;
}
.right-chat-textbox button i {
    color: #fff;
}

.rightside-left-chat span i,
.rightside-right-chat span i {
    color: #86BB71;
    font-size: 12px;
}

.rightside-right-chat span i {
    color: #94C2ED;
}

.rightside-right-chat span {
    float: right;
}

.rightside-right-chat span small,
.rightside-left-chat span small {
    color: #BDBDC2;
}

.rightside-left-chat:before,
.rightside-right-chat:before {
    content: "";
    position: absolute;
    top: 14px;
    bottom: 150px;
    border: 15px solid transparent;
    z-index: 1;
}

.rightside-left-chat:before {
    left: 15px;
    border-bottom-color: #86BB71;
}

.rightside-right-chat:before {
    right: 15px;
    border-bottom-color: #94C2ED;
}

@media only screen and (max-width: 320px) {
    .main-section {
        display: none;
    }
}